*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container{
    padding: 2rem;
    width: 80%;
    margin: auto;
}
h1,h2,h3,h4,h5,span{
    text-align: center;
}
button{
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    border: 1px solid #fff;
    margin: 0 0.5rem;
    font-size: 1.3rem;
    cursor: pointer;
    letter-spacing: 0.3rem;
}
/* hero section */
.container .logo span{
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}
#hero{
    overflow: hidden;
    background:  url("img/bcg.jpg") no-repeat center / cover;
}
header .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu ul li{
  list-style-type: none;
  display: inline;
}
.menu ul{
    padding-top: 1rem;
}
.menu ul li a{
    color: #fff;
    margin: 0 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.3rem 1rem;
    background-color: red;
    border-radius: 0.3rem;
}
.menu ul li a:hover{
    background-color: #fff;
    color: #000;
    transition: 0.5s all ease-in-out;
}
.hero-text h1,h2{
    color: #fff;
}
.btn-area{
    text-align: center;
}
.btn1{
    background-color: transparent;
    color: #fff;
}
button:hover{
    background-color: #fff;
    color: #000;
    transition: 0.5s;
    box-shadow:  0 0 10px #fff , 0 0 40px #fff;
}
.down{
    text-align: center;
}
.down .far{
    font-size: 2.5rem;
    color: #fff;
    font-weight: 200;
    position: relative;
    animation: down 2s infinite;
}
@keyframes down {
    0%{
        top: 1rem;
    }
    50%{
        top: 2rem;
    }
    100%{
        top: 1rem;
    }
}
/* hero section */
/* about section */

.abotu-text{
    text-align: center;
}
.abotu-text h2{
    color: #000;
    text-transform: uppercase;
}
.hr1{
    width: 30%;
    margin: auto;
    border: 2px solid #f00;
}
h3{
    color: #000;
}
.about-grid-template h3, .about-grid-template h2, .about-grid-template p{
    color: #000;
} 
.btn2{
    color: #000;
    border: 1px solid #000;
}
.btn2:hover{
    background-color: tomato;
    color: #fff;
}
.about-grid{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.about-grid-template a img{
    box-shadow: 5px 5px  red;
    width: 80%;
 
}
/* about section */

/* service */
#service{
    background: url("img/bcg4.jpg") no-repeat center / cover fixed;
}
.service-text h2, .service-text h3{
    color: #fff;
}
.box-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}
.box-item{
    padding-top: 2rem;
    height: 20rem;
    text-align: center;
    line-height: 2;
    border-radius: 1rem;
}
.box-item:nth-child(1){
    background-color: #130f40;
    box-shadow:3px 3px #fff;
}
.box-item:nth-child(2){
    background-color: #192a56;
    box-shadow: 3px 3px#fff;
}
.box-item:nth-child(3){
    background-color: #130f40;
    box-shadow:3px 3px #fff;
}
.box-item span{
    color: #fff;
}
.btn3{
    padding: 0.3rem 1rem;
}
/* service */

/* contact */
#contact{
    background-color: #2f3640;
}
.ct{
    color: #fff;
}
.uk-input{
    color: #000;
}
form{
    width: 80%;
    padding: 1rem;
    border: 1px solid #fff;
    margin: auto;
    color: #fff;
}
/* contact */
/* submit */

.sumbit-box-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
.submit-grid-item{
    padding: 1rem ;
    border: 1px solid #000;
}
#photo-cng{
    background-color: #fbc531;
}
.ph-grid-item{
    padding: 1rem;
    border: 2px solid #000;
}
.photo-change{
    padding: 2rem;
}

.ph-cng-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
.last1{
    color: #000;
    text-align: center;
    border: 1px solid #000;
    box-shadow: 2px 2px #000;
    padding: 0.5rem;
}
.light-box{
    text-align: center;
    color: #000;
    padding: 4rem;;
}

footer{
    padding: 2rem 0;
    color: #000;
    font-size: 1.5rem;
    background-color: #44bd32;
}

/* submit */